@use 'base/variables' as v;
@use 'base/mixins' as m;

.benefits {
    background-color: v.$primary;

    &Grid {
        @include m.tablet { 
            @include m.grid(5, 4rem);
            align-items: center;
         }
    }

    &Content {
        grid-column: 1 / 4;
    }

    &Heading {
        @include m.headingBorder(v.$secondary, v.$white);
    }

    &Image {
        grid-column: 4 / 6;
        transition-property: transform;
        transition-duration: 300ms;

        &:hover {
            transform: rotate(8deg) scale(1.1);
        }
    }
}